<mat-accordion multi=true *ngIf="posts.length>0">
  <mat-expansion-panel *ngFor="let i of posts">
    <mat-expansion-panel-header>
      <mat-panel-title> {{i.title}} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      {{i.content}}
    </mat-panel-description>
    <mat-action-row>
      <button mat-button color="primary" >EDIT</button>
      <button mat-button color="warn" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1 align-center" *ngIf="posts.length==0">No post added</p>
